* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal";
}
:root {
  --main-color: #ffde00;
  --hover-color: #ffde00;
  --background: #eef0f1;
  --text-color: #2e2e2e;
}
body {
  direction: rtl;
  background-color: var(--background);
}
.main {
  width: 100%;
  min-height: 100vh;
}
.inputContainer {
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
.inputContainer label {
    font-size: 20px;
    color: var(--main-color);
}
.inputContainer input,
.inputContainer select {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
  background: transparent;
}
.inputContainer input::placeholder {
  color: #aaa;
  font-size: 15px;
}
table {
  width: 100%;
  text-align: center;
}
table, th, td {
  padding: 20px;
  border-collapse: collapse;
}
thead th {
  position: sticky;
  top: 0;
  background-color:  #2c2c2c;
  color: whitesmoke;
}
tbody tr:nth-child(even) {
    background-color: #0000000b;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actions button {
  width: 100%;
  height: 30px;
  background-color: #3570aa54;
  color: #1976d2;
  font-size: 20px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ;
}
.actions button:hover {
  background-color: var(--main-color);
  color: white;
}
tfoot {
  background-color: black;
  color: white;
  font-size: 20px;
}
@media(max-width: 767px) {
  .actions {
    display: none;
  }
}
@media print {
  @page {
    size: auto;
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
}