.headerContainer {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
.right {
    position: relative;
    width: 150px;
    height: 150px;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.headerLinks {
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.headerLinks::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* المسافة بين الخط والنص */
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.headerLinks:hover {
  color: var(--main-color);
}

.headerLinks:hover::after {
  width: 100%;
}
